
<!doctype html>
{{define "blog/index.html"}}
<html lang="zh">

	{{ template "top_header.html" .}}

    <style type="text/css">
        #return_top{
            width:40px;
            height:40px;
            position:fixed;
            right:30px;
            bottom:100px;
            display:none;
            background-color: #807f83;
			font-size: 12px;
			padding: 5px 5px;
			margin: 0 auto;
            z-index: 999;
        }
    </style>

    <body class="home blog custom-background round-avatars">

        {{ template "header.html" .}}

		<div id="main" class="content">
			<div class="container">
				<article itemscope="itemscope" id="content">
					<div class="posts-list js-posts" id="content_list">
						<!-- 展示文章列表 -->
					</div>
					<!-- post-formats end Infinite Scroll star -->
					<!-- post-formats -->
					<div class="pagination js-pagination">
						<input type="hidden" id="page_num"/>
						<button style="background-color: transparent; color: rgba(0, 0, 0, 0.5);border: 1px solid #807f83;" onclick="getMore()" class="btn btn-outline-success">加载更多</button>

					</div>
					<!-- -pagination  -->
			</div>
            <a href="javascript:;" id="return_top" title="回到顶部">返回顶部</a>
		</div>

		{{ template "footer.html" .}}
		<script type="text/javascript">
			$(document).ready(function(){
				var token = localStorage.getItem("flyray_blog_token");
				$("#page_num").val(1)
				$.ajax({
					type:"GET",
					//请求的媒体类型
					contentType: "application/json;charset=UTF-8",
					headers:{'token':token},
					//请求地址
					url : "/api/v1/articles?tag_id=-1&category_id=-1&page_num=1&state=0",
					//请求成功
					success : function(result) {
						var lists = result.data.lists;
						console.log(lists)
						var content = $("#content_list");
						console.log(content)
						for(j = 0,len=lists.length; j < len; j++) {
							var item = lists[j];
							if(item.tag_id==1){
								content.append("<div class='post post-layout-list' data-aos='fade-up'>"+
									"<div class='status_list_item icon_kyubo'>"+
										"<div class='status_user' style='background-image: url(/statics/blog/images/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);'>"+
											"<div class='status_section'>"+
												"<a href='detail?id="+item.id+"' class='status_btn'>"+item.title+"</a>"+
												"<p class='section_p'>"+item.desc+"... </p>"+
											"</div>"+
										"</div>"+
									"</div>"+
								"</div>");
							}else if(item.tag_id==2){
								content.append("<div class='post post-layout-list' data-aos='fade-up'>"+
									"<div class='postnormal review '>"+
										"<div class='post-container review-item'>"+
											"<div class='row review-item-wrapper'>"+
												"<div class='col-sm-3'>"+
													"<a rel='nofollow' href='detail?id="+item.id+"'>"+
														"<div class='review-item-img' style='background-image: url(/statics/blog/images/diego-ph-249471-2-800x1000.jpg);'></div>"+
														"</a>"+
														"</div>"+
														"<div class='col-sm-9 flex-xs-middle'>"+
															"<div class='review-item-title'>"+
																"<a href='detail?id="+item.id+"' rel='bookmark'>"+item.title+"</a>"+
																"</div>"+
																"<div class='review-item-creator'><b>发布日期：</b>"+item.create_time+"</div>"+
																"<span class='review-item-info'><b>总浏览量：</b>"+item.title+"</span>"+
																"</div>"+
																"</div>"+
																"<div class='review-bg-wrapper'>"+
																	"<div class='bg-blur' style='background-image: url(/statics/blog/images/diego-ph-249471-2-800x1000.jpg);'></div>"+
																	"</div>"+
																	"</div>"+
																	"<div class='post-container'>"+
																		"<div class='entry-content'>"+item.desc+"...</div>"+
																		"<div class='post-footer'>"+
																			"<a class='gaz-btn primary' href='detail?id="+item.id+"'>READ MORE</a>"+
																			"<span class='total-comments-on-post pull-right'><a href=''>31 Comments</a></span>"+
																			"</div>"+
																			"</div>"+
																			"</div>"+
																			"</div>");
							}else{
								content.append(
									"<div class='post post-layout-list js-gallery' data-aos='fade-up'>"+
										"<div class='post-album'>"+
											"<div class='row content'>"+
												"<div class='bg' style='background-image: url(/statics/blog/images/IMG_0150.jpg);'></div>"+
												"<div class='contentext flex-xs-middle'>"+
													"<div class='album-title'>"+
														"<a href='detail?id="+item.id+"'>"+item.title+"</a>"+
														"</div>"+
														"<h5 class='review-item-creator'><b>发布日期：</b>"+item.create_time+"</h5>"+
													"<div class='album-content'>"+item.desc+"。</div>"+
													"</div>"+
												"<div class='album-thumb-width flex-xs-middle'>"+
													"<div class='row album-thumb no-gutter'>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0150-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0149-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0146-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0147-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0148-250x250.jpg' /></div>"+
														"<div class='col-xs-4'>"+
															"<a href=''>5 pics</a>"+
															"</div>"+
														"</div>"+
													"</div>"+
											"</div>"+
										"</div>"+
									"</div>"
								)
							}
						}
					},
					//请求失败，包含具体的错误信息
					error : function(e){
						console.log(e.status);
						console.log(e.responseText);
					}
				})
			});

            function getMore(){
                var page_num = parseInt($("#page_num").val())+1
                $("#page_num").val(page_num)

                $.ajax({
                    type:"GET",
                    //请求的媒体类型
                    contentType: "application/json;charset=UTF-8",
                    //请求地址
                    url : "/api/v1/articles?tag_id=-1&category_id=-1&page_num="+page_num+"&state=0",
                    //请求成功
                    success : function(result) {
                        var lists = result.data.lists;
                        if (lists.length == 0) {
                            alert("已经没有文章了")
						}
                        console.log(lists)
                        var content = $("#content_list");
                        console.log(content)
                        for(j = 0,len=lists.length; j < len; j++) {
                            var item = lists[j];
                            if(item.tag_id==1){
                                content.append("<div class='post post-layout-list' data-aos='fade-up'>"+
                                        "<div class='status_list_item icon_kyubo'>"+
                                        "<div class='status_user' style='background-image: url(/statics/blog/images/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);'>"+
                                        "<div class='status_section'>"+
                                        "<a href='detail?id="+item.id+"' class='status_btn'>"+item.title+"</a>"+
                                        "<p class='section_p'>"+item.desc+"... </p>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>");
                            }else if(item.tag_id==2){
                                content.append("<div class='post post-layout-list' data-aos='fade-up'>"+
                                        "<div class='postnormal review '>"+
                                        "<div class='post-container review-item'>"+
                                        "<div class='row review-item-wrapper'>"+
                                        "<div class='col-sm-3'>"+
                                        "<a rel='nofollow' href='detail?id="+item.id+"'>"+
                                        "<div class='review-item-img' style='background-image: url(/statics/blog/images/diego-ph-249471-2-800x1000.jpg);'></div>"+
                                        "</a>"+
                                        "</div>"+
                                        "<div class='col-sm-9 flex-xs-middle'>"+
                                        "<div class='review-item-title'>"+
                                        "<a href='detail?id="+item.id+"' rel='bookmark'>"+item.title+"</a>"+
                                        "</div>"+
                                        "<div class='review-item-creator'><b>发布日期：</b>"+item.create_time+"</div>"+
                                        "<span class='review-item-info'><b>总浏览量：</b>"+item.title+"</span>"+
                                        "</div>"+
                                        "</div>"+
                                        "<div class='review-bg-wrapper'>"+
                                        "<div class='bg-blur' style='background-image: url(/statics/blog/images/diego-ph-249471-2-800x1000.jpg);'></div>"+
                                        "</div>"+
                                        "</div>"+
                                        "<div class='post-container'>"+
                                        "<div class='entry-content'>"+item.desc+"...</div>"+
                                        "<div class='post-footer'>"+
                                        "<a class='gaz-btn primary' href='detail?id="+item.id+"'>READ MORE</a>"+
                                        "<span class='total-comments-on-post pull-right'><a href=''>31 Comments</a></span>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>");
                            }else{
                                content.append(
                                        "<div class='post post-layout-list js-gallery' data-aos='fade-up'>"+
                                        "<div class='post-album'>"+
                                        "<div class='row content'>"+
                                        "<div class='bg' style='background-image: url(/statics/blog/images/IMG_0150.jpg);'></div>"+
                                        "<div class='contentext flex-xs-middle'>"+
                                        "<div class='album-title'>"+
                                        "<a href='detail?id="+item.id+"'>"+item.title+"</a>"+
                                        "</div>"+
                                        "<h5 class='review-item-creator'><b>发布日期：</b>"+item.create_time+"</h5>"+
                                        "<div class='album-content'>"+item.desc+"。</div>"+
                                        "</div>"+
                                        "<div class='album-thumb-width flex-xs-middle'>"+
                                        "<div class='row album-thumb no-gutter'>"+
                                        "<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0150-250x250.jpg' /></div>"+
                                        "<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0149-250x250.jpg' /></div>"+
                                        "<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0146-250x250.jpg' /></div>"+
                                        "<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0147-250x250.jpg' /></div>"+
                                        "<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0148-250x250.jpg' /></div>"+
                                        "<div class='col-xs-4'>"+
                                        "<a href=''>5 pics</a>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"+
                                        "</div>"
                                )
                            }
                        }
                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                })

            }

            //      回到顶部效果
            window.onload = function(){
                var obtn = document.getElementById('return_top');  //获取回到顶部按钮的ID
                var clientHeight = document.documentElement.clientHeight;   //获取可视区域的高度
                var timer = null; //定义一个定时器
                var isTop = true; //定义一个布尔值，用于判断是否到达顶部

                window.onscroll = function(){         //滚动条滚动事件

                    //获取滚动条的滚动高度
                    var osTop = document.documentElement.scrollTop || document.body.scrollTop;

                    if(osTop >= clientHeight){  //如果滚动高度大于可视区域高度，则显示回到顶部按钮
                        obtn.style.display = 'block';
                    }else{         //否则隐藏
                        obtn.style.display = 'none';
                    }

                    //主要用于判断当 点击回到顶部按钮后 滚动条在回滚过程中，若手动滚动滚动条，则清除定时器
                    if(!isTop){
                        clearInterval(timer);
                    }
                    isTop = false;
                }

                obtn.onclick = function(){    //回到顶部按钮点击事件
                    //设置一个定时器
                    timer = setInterval(function(){
                        //获取滚动条的滚动高度
                        var osTop = document.documentElement.scrollTop || document.body.scrollTop;
                        //用于设置速度差，产生缓动的效果
                        var speed = Math.floor(-osTop / 6);
                        document.documentElement.scrollTop = document.body.scrollTop = osTop + speed;
                        isTop =true;  //用于阻止滚动事件清除定时器
                        if(osTop == 0){
                            clearInterval(timer);
                        }
                    },30);
                }
            }

		</script>
	</body>

</html>
{{end}}