<!doctype html>
{{define "blog/guestbook.html"}}
<html lang="zh">

	{{ template "top_header.html" .}}

	<body class="home blog custom-background round-avatars">

        {{ template "header.html" .}}

		<div id="main" class="content">
			<div class="container">
				<article id="post-2" class="js-gallery post-2 page type-page status-publish has-post-thumbnail hentry">
					<style>
						.meta {
							display: none;
						}
						
						#NextPrevPosts {
							margin: 0;
							visibility: hidden;
						}
					</style>
					<section class="post_content">
						<header class="post_header">
							<h1 class="post_title">街坊留言</h1>
						</header>

						<div class="meta split split--responsive cf" style="display: block;">
							
							<div id="social-share"><span class="entypo-share"><i class="iconfont">&#xe614;</i>分享</span></div>
							<div class="slide">
								<a class="btn-slide" title="switch down"><i class="iconfont">&#xe615;</i>折叠评论区</a>
							</div>
						</div>
					</section>
				</article>
			</div>
			<svg id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
			<div id="social">
				<ul>
					<li>
						<a href="" title="qzone" target="_blank"><i class="iconfont">&#xe67f;</i></a>
					</li>
					<li>
						<a href="" title="weibo" target="_blank"><i class="iconfont">&#xe680;</i></a>
					</li>
					<li>
						<a href="" title="douban" target="_blank"><i class="iconfont">&#xe681;</i></a>
					</li>
					<li>
						<a href="" title="twitter" target="_blank"><i class="iconfont">&#xe683;</i></a>
					</li>
				</ul>
			</div>
			<div id="panel">
				<div class="comment-area">
					<section class="comments">
						<div class="comments-main">
							<div id="loading-comments">
								<div class="host">
									<div class="loading loading-0"></div>
									<div class="loading loading-1"></div>
									<div class="loading loading-2"></div>
								</div>
							</div>
							<ul id="masseges" class="commentwrap">
								<!-- #comment-## -->
								<!-- #comment-## -->
							</ul>
							<nav id="comments-navi">
								<a class="prev page-numbers" href="">
									<</a>
										<a class='page-numbers' href='#'>1</a>
										<span class="page-numbers dots">&hellip;</span>
										<a class='page-numbers' href='#'>15</a>
										<a class='page-numbers' href='#'>16</a>
										<span aria-current='page' class='page-numbers current'>17</span></nav>
							<div id="respond" class="comment-respond">
								<h6 id="replytitle" class="comment-reply-title"><a rel="nofollow" id="cancel-comment-reply-link" href="" style="display:none;">取消</a></h6>
								<form action="#" method="post" id="commentform" class="clearfix">
									<div class="clearfix"></div>
									<div class="author-info">
										<input type="text" name="author" id="author" placeholder="昵  称 : " value="" tabindex="1" title="Name (required)" />
										<input type="text" name="email" id="email" placeholder="邮  箱 : " value="" tabindex="2" title="E-mail(will not be published) required" />
										<input type="text" name="url" id="url" placeholder="网  址 : " value="" tabindex="3" title="Website" />
									</div>
									<div class="clearfix"></div>
									<input type='hidden' name='comment_post_ID' value='2' id='comment_post_ID' />
									<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
									<p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="44ac0661b8" /></p>
									<p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="105" /></p>
									<div class="comment-form-info">
										<div class="real-time-gravatar"> <img id="real-time-gravatar" src="/statics/blog/images/d41d8cd98f00b204e9800998ecf8427e.png" alt="gravatar头像" />
										</div>
										<p class="input-row">
											<i class="row-icon"></i>
											<textarea class="text_area" rows="3" cols="80" name="comment" id="comment" tabindex="4" placeholder="你不说两句吗？(°∀°)ﾉ……"></textarea>
											<input type="submit" name="submit" class="button" id="submit" tabindex="5" value="发送" />
										</p>
									</div>
								</form>
							</div>
						</div>
					</section>
				</div>
			</div>
			<svg id="dwTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z"></path>
			</svg>
			<div class="wrapper">
			</div>
		</div>

        {{ template "footer.html" .}}

		<script type="text/javascript">
            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    //请求的媒体类型
                    contentType: "application/json;charset=UTF-8",
                    headers:{'token':token},
                    //请求地址
                    url : "/api/v1/messages",
                    //请求成功
                    success : function(result) {

                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                })
				//留言
                $("#submit").click(function () {
                    var id = GetQueryString("id")
                    var author = $("#author").val();
                    var comment = $("#comment").val();
                    var email = $("#email").val();

                    var json ={
                        "ArticleID": parseInt(id),
                        "Content": comment,
                        "author": author,
                        "email": email,
                        "State": 1
                    }
                    $.ajax({
                        type:"POST",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        //请求地址
                        url : "/api/v1/messages",
                        dataType:"json",
                        data : JSON.stringify(json),
                        //请求成功
                        success : function(result) {
                            var masseges = $("#masseges");
                            masseges.append("<li class=\"comment odd alt thread-odd thread-alt depth-1\" id=\"li-comment-\">\n" +
                                    "<div id=\"comment-986\" class=\"comment_body contents\">\n" +
                                    "<div class=\"profile\">\n" +
                                    "<a href=\"\"><img src=\"/statics/blog/images/b8b61f04b19de2e728bfef9dcc4332d5.jpeg\" class=\"gravatar\" alt=\"vxZoo\"></a>\n" +
                                    "</div>\n" +
                                    "<div class=\"main shadow\">\n" +
                                    "<div class=\"commentinfo\">\n" +
                                    "<section class=\"commeta\">\n" +
                                    "<div class=\"shang\">\n" +
                                    "<h4 class=\"author\"><a href=\"\" target=\"_blank\"><img src=\"/statics/blog/images/b8b61f04b19de2e728bfef9dcc4332d5.jpeg\" class=\"gravatarsmall\" alt=\"vxZoo\">vxZoo</a></h4>\n" +
                                    "</div>\n" +
                                    "</section>\n" +
                                    "</div>\n" +
                                    "<div class=\"body\">\n" +
                                    "<p>打卡</p>\n" +
                                    "</div>\n" +
                                    "<div class=\"xia info\">\n" +
                                    "<span><time datetime=\"2018-03-29\">2018年3月29日</time></span>\n" +
                                    "<span><a rel='nofollow' class='comment-reply-link' href='' onclick='return addComment.moveForm( \"comment-986\", \"986\", \"respond\", \"2\" )' aria-label='回复给vxZoo'>回复</a></span>\n" +
                                    "</div>\n" +
                                    "</div>\n" +
                                    "</div>\n" +
                                    "</li>")

                        },
                        //请求失败，包含具体的错误信息
                        error : function(e){
                            console.log(e.status);
                            console.log(e.responseText);
                        }
                    })
                })
            });
		</script>

	</body>

</html>
{{end}}