<!doctype html>
{{define "blog/roadmap.html"}}
<html lang="zh">

	{{ template "top_header.html" .}}

	<body class="home blog custom-background round-avatars">

		{{ template "header.html" .}}

		<div id="main" class="content">
			<div class="container">
				<style>
					body.custom-background {
						background: #fff
					}
					
					.container {
						padding: 10px 0px;
					}
				</style>
				<section class="post_content">
					<header class="post_header">
						<h1 class="post_title">更新</h1>
					</header>
					<div class="applicant__timeline">
						<ul>
							<li>
								<div>1.0.0版本正式发布！<br /><span class="time-ago">2019.9.9</span></div>
							</li>
							<li class="warning">
								<div>修复菜单在移动端错位的情况，修改移动端搜索样式</div>
							</li>
							<li class="success">
								<div>新增二级菜单支持，调整部分动效<br /><span class="time-ago">2016.10.2</span></div>
							</li>
							<li class="warning">
								<div>修复首页相册底部溢出、修复移动设备标题错位，修复状态样式错位</div>
							</li>
							<li class="success">
								<div>新建文章样式标准、状态、相册、增加暗箱效果<br /><span class="time-ago">2016.9.21</span></div>
							</li>
							<li class="success">
								<div>构建层级评论系统，多层级嵌套，redesigned评论样式<br /><span class="time-ago">2016.9.20</span></div>
							</li>
							<li>
								<div>开始启动用go写博羸兄弟博客系统<br /><span class="time-ago">2019.8.1</span></div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>

		{{ template "footer.html" .}}

	</body>

</html>
{{end}}