
<!doctype html>
{{define "blog/index.html"}}
<html lang="zh">

	{{ template "top_header.html" .}}

	<body class="home blog custom-background round-avatars">

        {{ template "header.html" .}}

		<div id="main" class="content">
			<div class="container">
				<article itemscope="itemscope" id="content">
					<div class="posts-list js-posts" id="content_list">
						
						

						

					</div>
					<!-- post-formats end Infinite Scroll star -->
					<!-- post-formats -->
					<div class="pagination js-pagination">
						<button style="background-color: transparent; color: rgba(0, 0, 0, 0.5);border: 1px solid #807f83;" class="btn btn-outline-success">加载更多</button>

					</div>
					<!-- -pagination  -->
			</div>
		</div>
		{{ template "footer.html" .}}
		<script type="text/javascript">
			$(document).ready(function(){
				var token = localStorage.getItem("flyray_blog_token");
				$.ajax({
					type:"GET",
					//请求的媒体类型
					contentType: "application/json;charset=UTF-8",
					headers:{'token':token},
					//请求地址
					url : "/api/v1/articles",
					//请求成功
					success : function(result) {
						var lists = result.data.lists;
						console.log(lists)
						var content = $("#content_list");
						console.log(content)
						for(j = 0,len=lists.length; j < len; j++) {
							var item = lists[j];
							if(item.tag_id==1){
								content.append("<div class='post post-layout-list' data-aos='fade-up'>"+
									"<div class='status_list_item icon_kyubo'>"+
										"<div class='status_user' style='background-image: url(/statics/blog/images/b0ce3f3cde0c084b6d42321b2dcbc407.jpeg);'>"+
											"<div class='status_section'>"+
												"<a href='detail' class='status_btn'>"+item.title+"</a>"+
												"<p class='section_p'>"+item.desc+"... </p>"+
											"</div>"+
										"</div>"+
									"</div>"+
								"</div>"); 
							}else if(item.tag_id==2){
								content.append("<div class='post post-layout-list' data-aos='fade-up'>"+
									"<div class='postnormal review '>"+
										"<div class='post-container review-item'>"+
											"<div class='row review-item-wrapper'>"+
												"<div class='col-sm-3'>"+
													"<a rel='nofollow' href='detail'>"+
														"<div class='review-item-img' style='background-image: url(/statics/blog/images/diego-ph-249471-2-800x1000.jpg);'></div>"+
														"</a>"+
														"</div>"+
														"<div class='col-sm-9 flex-xs-middle'>"+
															"<div class='review-item-title'>"+
																"<a href='detail' rel='bookmark'>"+item.title+"</a>"+
																"</div>"+
																"<div class='review-item-creator'><b>发布日期：</b>"+item.title+"</div>"+
																"<span class='review-item-info'><b>总浏览量：</b>"+item.title+"</span>"+
																"</div>"+
																"</div>"+
																"<div class='review-bg-wrapper'>"+
																	"<div class='bg-blur' style='background-image: url(/statics/blog/images/diego-ph-249471-2-800x1000.jpg);'></div>"+
																	"</div>"+
																	"</div>"+
																	"<div class='post-container'>"+
																		"<div class='entry-content'>"+item.desc+"...</div>"+
																		"<div class='post-footer'>"+
																			"<a class='gaz-btn primary' href='detail'>READ MORE</a>"+
																			"<span class='total-comments-on-post pull-right'><a href=''>31 Comments</a></span>"+
																			"</div>"+
																			"</div>"+
																			"</div>"+
																			"</div>"); 
							}else{
								content.append(
									"<div class='post post-layout-list js-gallery' data-aos='fade-up'>"+
										"<div class='post-album'>"+
											"<div class='row content'>"+
												"<div class='bg' style='background-image: url(/statics/blog/images/IMG_0150.jpg);'></div>"+
												"<div class='contentext flex-xs-middle'>"+
													"<div class='album-title'>"+
														"<a href='detail.html'>"+item.title+"</a>"+
														"</div>"+
														"<h5 class='review-item-creator'><b>发布日期：</b>"+item.desc+"</h5>"+
													"<div class='album-content'>"+item.desc+"。</div>"+
													"</div>"+
												"<div class='album-thumb-width flex-xs-middle'>"+
													"<div class='row album-thumb no-gutter'>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0150-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0149-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0146-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0147-250x250.jpg' /></div>"+
														"<div class='col-xs-4'><img class='thumb' src='/statics/blog/images/IMG_0148-250x250.jpg' /></div>"+
														"<div class='col-xs-4'>"+
															"<a href=''>5 pics</a>"+
															"</div>"+
														"</div>"+
													"</div>"+
											"</div>"+
										"</div>"+
									"</div>"
								)
							}
						}
					},
					//请求失败，包含具体的错误信息
					error : function(e){
						console.log(e.status);
						console.log(e.responseText);
					}
				})
			});
		</script>
	</body>

</html>
{{end}}