<!doctype html>
{{define "blog/link.html"}}
<html lang="zh">

	{{ template "top_header.html" .}}

	<body class="home blog custom-background round-avatars">

        {{ template "header.html" .}}

		<div id="main" class="content">
			<div class="container">
				<style>
					body.custom-background {
						background: #fff
					}

					.container {
						padding: 10px 0px;
					}
				</style>
				<section class="post_content">
					<header class="post_header">
						<h1 class="post_title">友情链接</h1>
					</header>
					<div class="links">
						<div class="userItems">
							<div class="userItem">
								<div class="userItem--inner">
									<div class="userItem-content"><img alt='' src='/statics/blog/images/blxd.jpg' class='avatar avatar-64 photo' height='64' width='64' />
										<div class="userItem-name">
											<a class="link link--primary" href="http://www.flyray.me/" target="_blank">飞雷兄弟</a>
										</div>
									</div>
								</div>
							</div>
							<div class="userItem">
								<div class="userItem--inner">
									<div class="userItem-content"><img alt='' src='/statics/blog/images/hyl.jpg' class='avatar avatar-64 photo' height='64' width='64' />
										<div class="userItem-name">
											<a class="link link--primary" href="http://huoyuanlian.io/" target="_blank">火源链</a>
										</div>
									</div>
								</div>
							</div>
							<div class="userItem">
								<div class="userItem--inner">
									<div class="userItem-content"><img alt='' src='/statics/blog/images/hyl.jpg' class='avatar avatar-64 photo' height='64' width='64' />
										<div class="userItem-name">
											<a class="link link--primary" href="http://huoyuanshequ.com/" target="_blank">火源社区</a>
										</div>
									</div>
								</div>
							</div>
							<div class="userItem">
								<div class="userItem--inner">
									<div class="userItem-content"><img alt='' src='/statics/blog/images/nzn.jpg' class='avatar avatar-64 photo' height='64' width='64' />
										<div class="userItem-name">
											<a class="link link--primary" href="#" target="_blank">南诏南</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

        {{ template "footer.html" .}}

	</body>

</html>
{{end}}