<!DOCTYPE html>
{{define "admin/html/comment-add.html"}}
<html>
  
  <head>
      {{template "public/head.html"}}
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php
              var token = localStorage.getItem("flyray_blog_token");
              var name = $("#name").val();
              var json = {
                  "name": name,
              }
              $.ajax({
                  type: "POST",
                  //请求的媒体类型
                  contentType: "application/json;charset=UTF-8",
                  headers: {'token': token},
                  data : JSON.stringify(json),
                  //请求地址
                  url: "/api/v1/comments",
                  //请求成功
                  success: function (result) {
                      layer.alert("增加成功", {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                      parent.location.reload();
                  },
                  //请求失败，包含具体的错误信息
                  error: function (e) {
                      console.log(e.status);
                      console.log(e.responseText);
                  }
              })

            return false;
          });
          
          
        });
    </script>
  </body>

</html>
{{end}}