<!DOCTYPE html>
{{define "admin/html/tag-import.html"}}
<html>
  
  <head>
      {{template "public/head.html"}}
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(function () {
            $("#import").click(function () {
                var formData = new FormData();
                formData.append("file", document.getElementById("file1").files[0]);   
                $.ajax({
                    url: "/tags/import",
                    type: "POST",
                    data: formData,
                    /**
                    *必须false才会自动加上正确的Content-Type
                    */
                    contentType: false,
                    /**
                    * 必须false才会避开jQuery对 formdata 的默认处理
                    * XMLHttpRequest会对 formdata 进行正确的处理
                    */
                    processData: false,
                    success: function (data) {
                        if (data.code == 200) {
                            alert("导入成功");
                            // var image_url = data.data.image_url;
                            // $("#image_url").val(image_url)
                        }
                        else
                        {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert("上传失败！");
                    }
                });
            });
        });
    </script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
            <input type="hidden" id="image_url" value="" />
            选择文件:<input type="file" id="file1" /><br />
            <input type="button" id="import" value="导入" />
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });
      });
    </script>
  </body>

</html>
{{end}}